@model IEnumerable<FreeSmokyMarket.Data.Entities.Product>
@{
    ViewData["Title"] = "ShowBasket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/General.css" type="text/css" />
<body>
    <br><br>
    <h3>Products in basket</h3>
    @{
        var purchasesItems = ViewData["PurchasesItems"] as List<PurchasesItem>;
        if (purchasesItems.Count != 0)
        {
            <ul class="hr">
                @foreach (var product in Model)
                {
                    <li>
                        <div class="pictureSignature">
                            <a href="~/Products/ProductDescription/@product.Id"><img class="pictureBorder" src="data:image;base64,@System.Convert.ToBase64String(product.ProductPicture)" /></a>
                            <p>
                                @{
                                    var concretePurchasesItem = purchasesItems.Find(pi => { return pi.ProductId == product.Id; });
                                }
                                <a href="~/Basket/DeleteFromBasket/@product.Id"><img class="delete" src="~/Images/View/delete.png" /></a>
                                Amount: @concretePurchasesItem.Amount
                            </p>
                        </div>
                    </li>
                }
                <a href="~/Order/Buy">
                    <p>Оформить заказ</p>
                </a>
            </ul>
        }
        else
        {
            <h3>Basket is empty :(</h3>
        }
    }
</body>