
@model IEnumerable<FreeSmokyMarket.Data.Entities.Product>
@{
    ViewData["Title"] = "ShowBasket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/General.css" type="text/css" />
<body>
    <br><br>
    <h3>Products in basket</h3>
    <ul class="hr">
        @foreach (var product in Model)
        {
            <li>
                <div class="pictureSignature">
                    <a href="~/Home/ProductDescription/@product.Id"><img class="pictureBorder" src="data:image;base64,@System.Convert.ToBase64String(product.ProductPicture)" /></a>
                </div>
            </li>
        }
        <a href="~/Order/Buy">
            <p>Оформить заказ</p>
        </a>
    </ul>
</body>
