
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/General.css" type="text/css" />

<body>
    <br><br>
    <h3>About</h3>
    <p>
        Our company FreeSmokyMarket was founded in 2019 to improve your party with a good hookah.<br> 
        We have selected the highest quality products for your enjoyment.
    </p>
    <p>FreeSmokyMarke is always a great assortment of hookahs and tobacco for every taste.<br>
        For our part, we also guarantee affordable prices and fast delivery of orders.
    </p>
    <p><i>We wish you a pleasant stay!
    </i></p>
</body>