@using FreeSmokyMarket.Models
@model IEnumerable<FreeSmokyMarket.Models.Product>

@{
    ViewData["Title"] = "Каталог товаров";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Товары</h3>
<table class="table-condensed">
    <tr>
        <td>Название</td>
        <td></td>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td>@product.ProductName</td>

            <td><a href="~/Home/Buy/@product.Id">Выбрать</a></td>
        </tr>
    }
</table>