@using FreeSmokyMarket.Data.Entities
@model IEnumerable<FreeSmokyMarket.Data.Entities.Category>

@{
    ViewData["Title"] = "Каталог товаров";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Товары</h3>
<table class="table-condensed">
    <tr>
        <td>Название</td>
        <td></td>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryName</td>

            <td><a href="~/Home/Buy/@category.Id">Выбрать</a></td>
        </tr>
    }
</table>