@using FreeSmokyMarket.Models
@model IEnumerable<FreeSmokyMarket.Models.Product>

@{
    ViewData["Title"] = "Каталог товаров";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Табак</h3>
<table class="table-condensed">
    <tr>
        <td>Название</td>
        <td>Цена</td>
        <td></td>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Brands.First().BrandName</td>
            <td>@product.Brands.First().Tobaccos.First().Description</td>
            <td>@product.Brands.First().Tobaccos.First().Taste</td>

            <td><a href="~/Home/Buy/@product.Id">Купить</a></td>
        </tr>
    }
</table>