@using FreeSmokyMarket.Data.Entities
@model IEnumerable<FreeSmokyMarket.Data.Entities.Category>
@{
    ViewData["Title"] = "Free Smoky Market";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/General.css" type="text/css" />

<body>
    <br><br>
    <h3>Categories</h3>
    @ViewData["test"];
    <ul class="hr">
        @foreach (var category in Model)
        {
            <li>
                <div class="pictureSignature pictureText">
                    <a href="~/Home/ShowBrands/@category.Id">
                        <img class="pictureBorder" src="data:image;base64,@System.Convert.ToBase64String(category.CategoryPicture)">
                        <p>@category.CategoryName</p>
                    </a>
                </div>
            </li>
        }
    </ul>
</body>