@model FreeSmokyMarket.Data.Entities.Product
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/General.css" type="text/css" />

<body>
    <br><br>
    <h3>Description</h3>
    <img class="pictureBorder" src="data:image;base64,@System.Convert.ToBase64String(Model.ProductPicture)" align="left" 
  vspace="5" hspace="15">
    <p><br>
        Brand: @ViewData["BrandName"]<br>
        Description: @Model.Description<br>
        Price: @Model.Price UAH
    </p>
    <br><br><br><br><br><br>


</body>